{% extends 'base.html' %} {% load static %} {% block page_title %} | Shay Purser {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Shay</h1>
            <hr>
        </div>
    </div>
</section>

<section class="body-text">
    <div class="row">
        <div class="col-12">
            <h4>Shay</h4>
            <p class="ml-2"> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe et reiciendis minus perferendis!</p>
        </div>
    </div>
</section>

{% endblock %}